.background{
    -fx-background-image: url('../../Images/Memory/Background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.playground{
    -fx-background-color: rgb(37, 151, 151);
}

.box {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 20px;
}

.error {
    -fx-background-color: rgba(255,0,0,0.5);
    -fx-border-radius: 20px;
    -fx-border-color: rgb(121, 0, 0);
}

.information {
    -fx-background-color: rgba(255, 193, 2, 0.5);
    -fx-border-radius: 20px;
    -fx-border-color: rgb(154, 119, 1);
}

.ready {
    -fx-background-color: rgba(27, 255, 2, 0.5);
    -fx-border-radius: 20px;
    -fx-border-color: rgb(16, 151, 0);
}